[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL
